.logined_comment_form.container-fluid
  .comment_data
    = hidden_field_tag :tolerance_time, 0, id: nil, class: :tolerance_time
    = f.hidden_field :commentable_type, value: commentable.class
    = f.hidden_field :commentable_id,   value: commentable.id
    = f.hidden_field :parent_id, class: :parent_id

    %p= f.text_area :raw_content, placeholder: 'Add a comment...', class: 'form-control'

    %p
      = f.submit t('the_comments.form.create'), class: 'btn btn-default btn-sm'
